{% extends 'adoption/base.html' %}

{% block content %}

    <hr>
   <div id="rightimg">
</div>
    <div style="text-align:center; ">
        <div style="display: inline-block; text-align: center;  padding: 40px; width: 800px;">
            <h3 style="font-family: 'Do Hyeon', sans-serif;"> {{protection_post.protection_title}}</h3>
            <div style="text-align: right;">
                <p>{{protection_post.protection_author}}</p>
                <p>{{protection_post.protection_created_date}}</p><br><br>
            </div>
            <div>
                {% if protection_post.protection_image %}
                    <img src="{{protection_post.protection_image.url}}" width="700px">
                {% endif %} <br><br>
                <p>{{protection_post.protection_text | linebreaks}}</p> <hr>
            </div><br>
            <div style ="text-align:right">
            {% if protection_post.protection_author == user or user.is_superuser %}
                <a class="detail" href="{% url 'protection_post_edit' protection_post.id %}">수정하기</a>
                <a class="detail"href="{% url 'protection_post_delete' protection_post.id %}">삭제하기</a>
            {% endif %}
            <a class="detail"href="{% url 'protection_post_list' %}">목록으로</a>
            </div>
        </div>
    </div>

{% endblock content %}
