* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  display: flex;
  width: 100%;
}


.category {
color: white;
background-color: #ffff;
}

.sidebar-wrapper {
  width: 25vw;
  height: 100vh;
  background-color: gainsboro;
  overflow: scroll;
  font-size: 11px;
}

.placeInfo {
  margin: 10px;
  width: calc(100% - 20px);
  height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
}

.placeInfo.clicked {
  background-color: #FFF100;
}

.placeInfo.vacant {
  text-align: center;
  line-height: 100px;
}

.placeInfo > div {
  width: 100%;
  height: calc(100% / 3);
  padding: 5px 15px;
  background-color: transparent;
}

.placeInfo > div:hover {
  cursor: pointer;
}

.infowindow:hover {
  cursor: pointer;
}


#kakaoMap {
  width: 75vw;
  height: 100vh;
}

.err-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  z-index: 9999;
}

.err-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
