.mr-auto {
  color: rgb(102,90,87);
}

.mr-auto:hover {
  color:rgb(102,90,87);
  text-decoration: none;
}

a {
  color:rgb(102,90,87);
  text-decoration: none;
}

.logo{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 75px;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgb(184,174,171);
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Suez One', serif;
  text-align: center;
  text-decoration: none;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  color: #FD8803;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  top: calc(100%);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul li:hover > a {
  color:#FD8803;
}

.nav-menu .drop-down > a:after {
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu  {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu l {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu a {
  padding-right: 35px;
}

.nav-menu a:after {
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

#main {
  margin-top: 20px;
  width: 100%;
  height: 120vh;
  background: url("main.jpeg") top center;
  background-size:  cover;
  background-repeat: no-repeat;
  position: relative;
}

#main:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#main .container {
  text-align: center;
  padding-top: 50px;
}

section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  font-family: 'Francois One', sans-serif;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #FD8803;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
  background: #f5f5f5;
  border-radius: 50px;
}

.services .icon-box .icon i {
  font-size: 32px;
  transition: 0.5s;
  line-height: 1;
  position: relative;
}

.services h3 {
  font-weight: 600;
  text-align: center;
  font-size: 27px;
  font-family: 'Francois One', sans-serif;
  color:rgb(102,90,87);
}

.services .icon-box  h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  font-family: 'Francois One', sans-serif;
}

.services .icon-box h4{
  color:rgb(102,90,87);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue:hover .icon {
  background: #0643FB;
  text-decoration: none;
}

.services .iconbox-green:hover .icon {
  background: #028C1E;
  text-decoration: none;
}
.services .iconbox-orange:hover .icon {
  background: #E87A0C;
  text-decoration: none;
}
.services .iconbox-purple:hover .icon {
  background: #560ADA;
  text-decoration: none;
}
.services .iconbox-pink:hover .icon {
  background: #F5B8EA;
  text-decoration: none;
}
.box:hover{
  text-decoration: none;
}

.services .iconbox-yellow:hover .icon {
  background: #EDDB13;
  text-decoration: none;
}

.services .iconbox-red:hover .icon {
  background:#E6190E;
  text-decoration: none;
}

.services .iconbox-skyblue:hover .icon {
  background:#07B9E7;
  text-decoration: none;
}


.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 20px 0 30px 0;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
  font-family: 'Francois One', sans-serif;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#footer {
  font-size: 14px;
  background: #f4f5f8;
}

#footer .footer-top {
  padding: 20px 0 20px 350px;
  background: #f4f5f8;
  color: rgb(102,90,87);
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #FD8803;
}

.i_content{
  color: black;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  color:rgb(102,90,87);
}

#procedure1{
  width: 16.5%;
  height: 30vh;
  background: url("1.jpg") center;
  background-size:  auto;
  background-repeat: no-repeat;
  position: relative;
} 
#procedure2{
  width: 16.5%;
  height: 30vh;
  background: url("2.jpg") center;
  background-size:  auto;
  background-repeat: no-repeat;
  position: relative;
} 
#procedure3{
  width: 16.5%;
  height: 30vh;
  background: url("3.jpg") center;
  background-size:  auto;
  background-repeat: no-repeat;
  position: relative;
} 
#procedure4{
  width: 16.5%;
  height: 30vh;
  background: url("4.jpg") center;
  background-size:  auto;
  background-repeat: no-repeat;
  position: relative;
} 
#procedure5{
  width: 16.5%;
  height: 30vh;
  background: url("5.jpg") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
} 
#procedure6{
  width: 16.5%;
  height: 30vh;
  background: url("6.jpg") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
} 

#introduce .image{
  width: 100%;
  height: 55vh;
  background: url("introduce.jpg") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.applicationss{
  background: url("applicationss.png") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 70vh;
}


.donation{
  background: url("review.png") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 70vh;
}


.application{
  background: url("reviewimg.png") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 70vh;
}

.applications{
  background: url("protection.png") center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 70vh;
}

.newpost1{
  padding : 10px 20px 10px 20px;
  background-color : rgb(94, 63, 11);
  color:white;
  border-radius: 40px;
}


.newpost1:hover{
  padding : 10px 20px 10px 20px;
  color :white;
  background-color:rgb(228, 172, 69);
  border-radius: 40px;
  text-decoration: none;
}

.pagess :hover{
  color : orange;
  text-decoration: none;
}

a#cancel {
  padding : 8px 20px 8px 20px;
}

.btn-light{
  background-color:rgb(139, 120, 104);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding : 5px 20px 5px 20px;
  border-radius: 10px;
}

.btn-light:hover{
  background-color: rgb(123, 134, 24);
  color: white;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
}

button.btn-light:hover{
  text-decoration: none;
}

button.btn-light:focus{
  outline: 0;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(136, 125, 106);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #f59a70;
  box-shadow: 0px 15px 20px rgb(255, 191, 191);
  color: #fff;
  transform: translateY(-7px);
}

.form-control {
 background-color: rgb(255, 180, 19);

}

.wraps {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.buttons {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(250, 142, 142);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.buttons:hover {
  background-color: #f14e4e;
  box-shadow: 0px 15px 20px rgb(250, 104, 104);
  color: #fff;
  transform: translateY(-7px);
}

.detail {
  background-color: rgb(122, 108, 103);
  padding: 10px 15px 10px 15px;
  border-radius: 40px;
  color :white;
  margin : 5px;
  font-family: 'Do Hyeon', sans-serif;
}

.wrapss {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.buttonss {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #742626;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.buttonss:hover {
  background-color: #5c208d;
  box-shadow: 0px 15px 20px rgb(57, 20, 100);
  color: #fff;
  transform: translateY(-7px);
}

    #dea {
      background-image: url(dog5.png);
      width: 62px;
      height: 62px;
      background-repeat: no-repeat;
    }
    #yon {
      background-image: url(dog2.png);
      width: 64px;
      height: 64px;
      background-repeat: no-repeat;
    
    }

    #gan {
      background-image: url(dog4.png);
      width: 64px;
      height: 64px;
      background-repeat: no-repeat;

    }

    #bu {
      background-image: url(dog3.png);
      width: 64px;
      height: 64px;
      background-repeat: no-repeat;
   
    }

  
  input.img-button {
    background: url( "pets.png" ) no-repeat;
    border: none;
    width: 64px;
    height: 64px;

  }

.hahaha:hover{
  color :black;
}


#kCalendar {width: 400px; height: 400px; border: 1px solid black;}

#kCalendar #header {height: 60px; line-height: 60px; text-align: center; font-size: 20px; font-weight: bold}
#kCalendar .button {color: #000; text-decoration: none;}

#kCalendar table {width: 400px; height: 350px;}
#kCalendar caption {display: none;}

#kCalendar .sun {font-size: 15px; text-align: center; color: deeppink;}
#kCalendar .mon {font-size: 15px; text-align: center;}
#kCalendar .tue {font-size: 15px; text-align: center;}
#kCalendar .wed {font-size: 15px; text-align: center;}
#kCalendar .thu { font-size: 15px; text-align: center;}
#kCalendar .fri {font-size: 15px; text-align: center;}
#kCalendar .sat {font-size: 15px; text-align: center; color: deepskyblue;}

.tabless{
  background-color:rgb(88, 66, 121);
  text-align :center;
  color:rgb(255, 255, 255);
}

.Shelter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size : 15px;
  font-weight: bold;
}

a.Shelter:hover {
  text-decoration: none;
  color:rgb(161, 155, 64);
  font-weight: bold;
}

#rightimg{
  background-image: url(tagimg.png);
  width: 200px;
  height: 320px;
  background-repeat: no-repeat;
  display:inline-block;
  text-align: right;
  position:fixed;
  margin-left: 1500px;
}

#adopttitle:hover{
  color:rgb(233, 190, 150);
  text-decoration: none;

}

#protecttitle:hover{
  text-decoration: none;
  color:rgb(238, 171, 171);

}


#reviewtitle:hover{
  text-decoration: none;
  color:rgb(192, 180, 180);
}

.detail:hover{
  text-decoration: none;
  background-color:rgb(192, 180, 180);
  color:black;
}

@media (max-width: 992px) {
  #main .container {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  #main {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #main {
    height: 100vh;
  }
}